body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  background-color: #eceff1;
  /* background-color:tomato; */
  color: #4d4d4d;
  /* background: red url('https://wallpapers.com/images/hd/orange-firewatch-tower-in-forest-0f3iemnb677x87uu-0f3iemnb677x87uu.webp');; */
  background-repeat: no-repeat;
  background-size: cover;
fill-opacity: 0;
  /* background- */
  backdrop-filter: blur(0.5px);
  background-color: violet;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
