.PokeGame{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* background-color: red; */
}

.PokeGame-start{
    width: 4.5px;
    background-color: black;
    height: 100vh;
    margin: 90px ;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}



  .PokeGame-start .ball{
    width: 70px;
    animation: mymove 5s infinite;
  }

  .PokeGame-start .punch {
    position: absolute;
    bottom: 60px;
    transition: ease-in 0.2s;
    filter: drop-shadow(3px 5px 2px black);
  }
  .PokeGame-start .punch:hover {
     scale: 1.1;
  }

  .fight{
    position: absolute;
   bottom: 180px;
    width: 80px;
    height: 80px;
  
    filter: drop-shadow(3px 5px 2px black);
    
  }

.win{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 20px; */
  width: 180px;
  
   aspect-ratio: 4/1;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  /* border-radius: 5px; */
  
  /* background-color: rgba(255, 255, 255, 0.4); */
  background-color: black;
  /* margin: 10px; */
 
  /* position: absolute; */
  z-index: -100;
  color: black;
  font-size: 25px;
  font-weight: 900;  
  left: 0;
  bottom: 0;
}

.win:nth-child(1){
  left: 0;
  bottom: 0;
}

.win:nth-child(2){
  left: 0;
  bottom: 0;
}
  .punch .text{
    /* width: 20px;
    height: 20px; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: black;
    width: 100px;
    height: 30px;
    box-shadow: 0px 0px 12px -5px white;
  }
.score{
 
  width: 180px;
  
  aspect-ratio: 4/1;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  .isWinner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 20px; */
  
    
    
    
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
    /* border-radius: 5px; */
    
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-color: white;
    /* margin: 10px; */
   
    position: absolute;
    z-index: -100;
    color: black;
    font-size: 25px;
    font-weight: 900;  
}

.isWinner:nth-child(1){
 left: 0;
}

.isWinner:nth-child(2){
 right: 0;
}
@keyframes  mymove{
    
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
      }
      25% {
        -webkit-transform: rotate3d(0, 0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
      }
      50% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
      }
      75% {
        -webkit-transform: rotate3d(0, 0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);
      }
      100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
      }
    }

    @-ms-keyframes spin {
        from { -ms-transform: rotate(0deg); }
        to { -ms-transform: rotate(360deg); }
    }
    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
